(
    tasks: [
        (
            id: "src",
            type: "SrcTask",
        ),
        (
            id: "sink",
            type: "SinkTask",
        ),
     ],
    cnx: [
        (src: "src", dst: "sink", msg: "String"),
    ],
)
