(
    tasks: [
        (
            id: "src",
            type: "ValueSupplierTask",
        ),
        (
            id: "pub",
            type: "ZenohPublisherTask",
        ),
     ],
    cnx: [
        (src: "src",  dst: "pub", msg: "u8"),
    ],
)
