(
    tasks: [
        (
            id: "sub",
            type: "ZenohSubscriberTask",
        ),
        (
            id: "sink",
            type: "PrintTask",
        ),
     ],
    cnx: [
        (src: "sub",  dst: "sink", msg: "String"),
    ],
)
